.dialogs {
  display: grid;
  grid-template-areas: "i m";
  grid-template-columns: 2fr 10fr;
  padding: 20px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
}

.messages .message {

}
.dialog {

}
